.conference-container {
    background-color: #E9E9E9;
    display:inline-block;
    min-height: 75vh;
    width: 100vw;
    overflow: hidden;
    padding: 100px 40px 0;
}

.conference-container .row {
    padding-bottom: 60px;
}

.conference-container .conference-col-left {
    margin-bottom: 20px;
}
.conference-container .conference-col-right {
    margin-bottom: 20px;
}

.conference-container .title-block {
    background-color: #084185;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    min-height: 300px;
    max-width: 350px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}

.conference-container .title-block > span {
    font-size: 2.9em;
}

.conference-container .title-block span {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20px;
}

.conference-container > p {
    padding: 0 8vw 0 8vw;
    font-size: 1rem;
}

.conference-container > .button-group {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}

.conference-container > .button-group Button {
    color: black;
    border-color: black;
}

#github-btn-txt{
    transform: translateY(-5px);
}


.github-repo-logo-color {
    fill: #ffffff;
}

.iframe-container {
    display: flex;
    justify-content: center;
}

.iframe-container iframe {
    float: left;
}

.asb-logo-container {
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Horizontally center the image within the container */
    align-items: center;
}

.asb-logo-container img {
    height: 100px;
    margin-bottom: 30px;
}

.conference-container .title-block .asb2023-details {
    margin-top: 30px;
    display: block;
    font-size: 1.2em;
}

.conference-container .title-block .asb2023-details span {
    color: goldenrod;
    padding-left: 20px;
}

.conference-collaborators-container {
    text-align: center;
}

.conference-collaborators-title {
    font-size: 2.5em;
    font-weight: 700;
}

.conference-collaborators-images {
    width: 100%;
    margin: 0;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 0;
}

.conference-collaborator {
    display: inline-block;
    width: 280px;
    height: 280px;
    margin-bottom: 30px;
}

.conference-collaborator img {
    width: 100%;
    padding: 30px 30px 15px;
    max-width: 300px;
}

.conference-collabrator-titleblock {
}

.conference-collabrator-titleblock .conference-collaborator-name {
    font-size: 1.2em;
    color: #4781e1;
}

.conference-collaborator-titleblock .conference-collaborator-occupation {
    font-size: 0.6em;
}