.navbar-element {
  float: none;
  text-align: center;
}

.linkedin-logo {
  padding-top: 0.5em;
  padding-left: 0.6em;
}

.github-logo {
  width: 40px;
  height:40px;
}

.github-logo-color,
.linkedin-logo {
  fill: #ffffff;
}

/*
.github-logo-color:hover,
.linkedin-logo:hover {
  fill: #bbbbbb;
}
*/

#responsive-navbar-nav .navlink {
  padding-left: 2em;
  padding-right: 2em;
}

.navdropdown-item {
  background-color: #096dd9;
}