.App {
    text-align: center;
    --accent-color: #FFC000;
    --default-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}