.App {
    text-align: center;
    
    --default-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

    --bg-gradient: linear-gradient(#1B2D3A, #305671);
    --bg-color-light: #172632;
    --bg-color-dark: #172632;
    --text-color: white;
    --text-color-2: #d1d1d1;
    --accent-color: #FFC000;
    --accent-color-2: #FFC000;
    --accent-color-filter: invert(15%) sepia(39%) saturate(4018%) hue-rotate(360deg) brightness(103%) contrast(106%);   /* credit: https://isotropic.co/tool/hex-color-to-css-filter/ */
    --link-color: #a9cdeb;
    --resume-page-color: rgba(255,255,255,0.8);
}

.App.light {
    --bg-gradient: linear-gradient(#eeeeee, #a0faff);
    --bg-color-light: #bcbcbc;
    --bg-color-dark: #3e3e3e;
    --text-color: black;
    --text-color-2: #2e2e2e;
    --accent-color: #00C0ff;
    --accent-color-2: black;
    --accent-color-filter: invert(55%) sepia(25%) saturate(3336%) hue-rotate(159deg) brightness(103%) contrast(104%);   /* credit: https://isotropic.co/tool/hex-color-to-css-filter/ */
    --link-color: #0080ff;
    --resume-page-color: rgba(255,255,255,0.8);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

a {
    font-weight: 800;
    text-decoration: none;
    color: var(--link-color);
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}